/* Index Media Query*/
@media only screen and(max-width: 576px) {
  #bc img {
    width: 30px;
  }
  .cloud-text p {
    font-size: 14px !important;
  }
}

/* Color Pallete */

:root {
  --primary-color: #1a3954;
  --scondary-color: #fb7066;
  --third-color: #ffcbcb;
  --thrid-shade: #87d7e2;
  --text-color: #bcbcbc;
}
h6 {
  color: #bcbcbc;
}

/*  */

.mask {
  display: flex;
  height: 100vh;
  align-items: center;
}

#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 100vh;
  display: flex;
  align-items: center;
}

.carousel-item:nth-child(1) {
  /*    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/76.jpg');*/
  background-color: #1a3954;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(2) {
  /*    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/77.jpg');*/
  background-color: #fb7066;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.carousel-item:nth-child(3) {
  /*    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/78.jpg');*/
  background-color: #ffcbcb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  bc h6 {
    color: white;
  }
  .icons {
    gap: 15px;
  }
  #introCarousel {
    margin-top: 0px;
  }
  .cloud-image img {
    max-width: 250px;
  }
}
.cloud-image {
  align-items: center;
}
.navbar .nav-link {
  color: #fff !important;
}
.carousel-container {
  display: flex;
}
.cloud-image {
  display: flex;
  justify-content: flex-end;
}
.cloud-text {
  text-align: right;
}
.cloud-text p {
  max-width: 672px;
  float: right;
  color: var(--text-color);
  font-size: 21px;
}
.icons {
  display: flex;
  justify-content: flex-end;
}
.bc {
  display: flex;
  justify-content: space-around;
}
